---
layout: default
---

<div class="workpage">

    {% include category/header.html title="Work" imagetype="work" %}

    {% include tables/table.html  title="Individual Table" description="This is the description of a super awesome and very lonesome individual table."  %}

    {% include tables/table.html  title="Communal Table" description="Cozu and private individual works tation with broadband internet connection and comfortable seats."  %}

    {% include tables/table.html  title="Couch with table arms" description="This is my personal favourite, it's a couch wit thable arms, which basically means you can sit there and  put your arms on the couch. This however also means you don't have to touch your own computer."  %}

    {% include tables/table.html  title="Conference Rooms" description="This is the opposite of the individual table. If you take that one, it's guaranteed, that some other nerdy douchebag will go on your nerves and blame you in the end for disturbing you from work and not beeing productive."  %}

</div>
