---
layout: default
---
{% include category/content_mobile_menu.html title="Work" image="https://raw.githubusercontent.com/HanaHaus/HanaHaus-ux/master/01_Website/Assets/00_Common%20Assets/Square-01.png" %}

<div class="workpage">

    {% include category/header.html title="Work" iconurl="https://raw.githubusercontent.com/HanaHaus/HanaHaus-ux/master/01_Website/Assets/00_Common%20Assets/Square-01.png" %}
    {% for table in site.data.tables %}
    {% include tables/table.html image=table.image title=table.title description=table.description  %}
    {% endfor %}

</div>
