<div id="footer-about" class="row about footer-box">
    <div class="col-md-8 abouttext">
        <p>HanaHaus is a public cafe open to all, located in the historic "New Varsity Theater" on palo Alto's main street. In addition to world class coffee and a selection of artisanal nourishing food for breakfast lunch and dinner, HanaHaus provides unique services and facilities for creative individuals in the entrepreneurial community to come together to WORK, PLAY and LEARN.</p>
        <p>HanaHaus builds on the tradition of cafe culture worldwide, where a spirited and free exchange of ideas amongst members of a community has played a vital role in enriching our artistic, scientific and political and cultural life.</p>
    </div>
    <div class="col-md-4 rightarea">
    </div>
</div>