<div id="footer-findus" class="row findus footer-box">
    <div class="col-md-7">
        <div class="mapcontainer">
            <embed
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDdanEV1GmSdVXktUVtuiQdGhlVWF2GEa0
              &q=New+Varsity+Theater,456+University+Ave,+Palo+Alto,+CA+94301">
            </embed>
        </div>
    </div>
    <div class="col-md-5">
        <div class="">
            <div class="adress">
                <div class="col-md-2"><img src="https://raw.githubusercontent.com/HanaHaus/HanaHaus-ux/master/01_Website/Assets/01_Home%20Screen/Map_Icon-01.png" /></div>
                <div class="col-md-10">
                    <p>New Varsity Theatre<br/>
                      456 Unviersity Ave.<br>
                      Palo Alto<br/>
                      CA - 94301<br/>
                    </p>
                </div>
            </div>
            <div class="parking">
                <div class="col-md-2"><img src="https://raw.githubusercontent.com/HanaHaus/HanaHaus-ux/master/01_Website/Assets/01_Home%20Screen/Parking_Icon-01.png" /></div>
                <div class="col-md-10"><p>Parking</p></div>
            </div>
            <div class="phone">
                <div class="col-md-2"><img src="https://raw.githubusercontent.com/HanaHaus/HanaHaus-ux/master/01_Website/Assets/01_Home%20Screen/Phone_Icon-01.png" /></div>
                <div class="col-md-10"><p>+1 (123) 456 7890</p></div>
            </div>
        </div>
    </div>
</div>
