<div class="row">
  <div class="col-md-12 main">
    <div class="col-md-7">
      This is the google map
    </div>
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-2"><i>icon</i></div>
        <div class="col-md-10 adress">
          <p>New Varsity Theatre<br/>
          456 Unviersity Ave.<br>
          Palo Alto<br/>
          CA - 94301<br/>
          </p>
        </div>
        <div class="parking">
          <div class="col-md-2"><i>picon</i></div>
          <div class="col-md-10 parking">
            <p>Parking</p>
          </div>
        </div>
        <div class="phone">
          <div class="col-md-2"><i>icon</i></div>
          <div class="col-md-10 phone">
            <p>+1 (415) 623 8302</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>