<div id="menu-modal" class="container-fluid">
  <nav class="navbar" role="navigation">
    <div class="col-md-2">
      <div class="navlink" id="back-button">Back</div>
    </div>
    <div class="col-md-2">
      <div class="navlink activelink" id="menu-footer-mobile-nav">Menu</div>
    </div>
    <div class="col-md-2">
      <div class="navlink" id="about-footer-mobile-nav">About Us</div>
    </div>
    <div class="col-md-2">
      <div class="navlink" id="partners-footer-mobile-nav">Partners</div>
    </div>
    <div class="col-md-2">
      <div class="navlink" id="social-footer-mobile-nav">Social Media</div>
    </div>
    <div class="col-md-2">
      <div class="navlink" id="find-footer-mobile-nav">Find Us</div>
    </div>
  </nav>
</div>
{% include footer_mobile_content/about.html %}
{% include footer_mobile_content/findus.html %}
{% include footer_mobile_content/menu.html %}
{% include footer_mobile_content/partners.html %}
{% include footer_mobile_content/socialmedia.html %}