<div id="menu-modal" class="container-fluid">
  <nav class="navbar" role="navigation">
    <div class="col-md-2">
      <div class="navlink" id="back-button">Back</div>
    </div>
    <div class="col-md-2">
      <div class="navlink activelink" id="menu-footer-nav">Menu</div>
    </div>
    <div class="col-md-2">
      <div class="navlink" id="about-footer-nav">About Us</div>
    </div>
    <div class="col-md-2">
      <div class="navlink" id="partners-footer-nav">Partners</div>
    </div>
    <div class="col-md-2">
      <div class="navlink" id="social-footer-nav">Social Media</div>
    </div>
    <div class="col-md-2">
      <div class="navlink" id="find-footer-nav">Find Us</div>
    </div>
  </nav>
</div>