<div class="row">
  <div class="col-md-12 partners">
    <div class="col-md-4 infotext">
        <p>We have amazing partners that currently work with us and we're always happy to discuss ways in which we can grow the community.</p>
        <p>Our Technology Desk, dubbed Techiatto, provides a space for technology platform companies to evangelize and support entrepreneurs looking to grow.</p>
        <p>In addition, we offer a large 8000 sq. ft. "theatersque" space available to rent for your next event. In whichever way HanaHaus can support you, please use the form</p>
    </div>
    <div class="col-md-8 contactform">
        asdf
    </div>
  </div>
</div>