<div id="footer-partners" class="row partners footer-box">
    <div class="col-md-4 infotext">
        <p>We have amazing partners that currently work with us and we're always happy to discuss ways in which we can grow the community.</p>
        <p>Our Technology Desk, dubbed Techiatto, provides a space for technology platform companies to evangelize and support entrepreneurs looking to grow.</p>
        <p>In addition, we offer a large 8000 sq. ft. "theatersque" space available to rent for your next event. In whichever way HanaHaus can support you, please use the form</p>
    </div>
    <div class="col-md-8 contactform">
        <form id="contactform"
                name="contactform">
            <div class="checkbox">
                <label>
                    <input name="techdesk" type="checkbox"> Become a Tech Desk partner
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input name="host" type="checkbox"> Host an event in the HanaHaus
                </label>
            </div>
            <div class="col-xs-6">
                <input name="firstname" type="text" class="form-control" placeholder="First Name">
            </div>
            <div class="col-xs-6">
                <input name="lastname" type="text" class="form-control" placeholder="Last Name">
            </div>
            <div class="col-xs-6">
                <input name="email" type="text" class="form-control" placeholder="Email">
            </div>
            <div class="col-xs-6">
                <input name="phone" type="text" class="form-control" placeholder="Phone">
            </div>
            <textarea name="message" class="form-control" rows="6"></textarea>
            <span id="messagesuccess" class="pull-right" style="display: none;">Email is went out.</span>
            <span id="messageerror" class="pull-right" style="display: none;">Oops, something went wrong when trying to send the email.</span>
            <button id="contactformbutton" class="btn btn-primary pull-right">Submit</button>
        </form>
    </div>
</div>
