<div class="row">
  <div class="col-md-12 partners">
    <div class="col-md-4 infotext">
        <p>We have amazing partners that currently work with us and we're always happy to discuss ways in which we can grow the community.</p>
        <p>Our Technology Desk, dubbed Techiatto, provides a space for technology platform companies to evangelize and support entrepreneurs looking to grow.</p>
        <p>In addition, we offer a large 8000 sq. ft. "theatersque" space available to rent for your next event. In whichever way HanaHaus can support you, please use the form</p>
    </div>
    <div class="col-md-8 contactform">
        <form>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Become a Tech Desk partner
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Host and event in the HanaHaus
                </label>
            </div>
            <div class="col-xs-6">
                <input type="text" class="form-control" placeholder="First Name">
            </div>
            <div class="col-xs-6">
                <input type="text" class="form-control" placeholder="Last Name">
            </div>
            <div class="col-xs-6">
                <input type="text" class="form-control" placeholder="Email">
            </div>
            <div class="col-xs-6">
                <input type="text" class="form-control" placeholder="Phone">
            </div>
            <textarea class="form-control" rows="6"></textarea>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
  </div>
</div>