<div class="row">
  <div class="col-md-12 socialmedia">
    <div class="col-md-3 box">
        <div>
            <img src="http://fakeimg.pl/200x200/"></img>
            <p class="caption">twitter</p>
        </div>
    </div>
    <div class="col-md-3 box">
        <div>
            <img src="http://fakeimg.pl/200x200/"></img>
            <p class="caption">twitter</p>
        </div>
    </div>
    <div class="col-md-3 box">
        <div>
            <img src="http://fakeimg.pl/200x200/"></img>
            <p class="caption">twitter</p>
        </div>
    </div>
    <div class="col-md-3 box">
        <div>
            <img src="http://fakeimg.pl/200x200/"></img>
            <p class="caption">twitter</p>
        </div>
    </div>
  </div>
</div>