<!-- Social media icons pardding left-right  -->
<div class="socialmedia">
    <div class="col-md-3 box">
        <div class="image image-twitter"></div>
        <p class="caption">@hanahausbayarea</p>
    </div>
    <div class="col-md-3 box">
        <div class="image image-instagram"></div>
        <p class="caption">instagram</p>
    </div>
    <div class="col-md-3 box">
        <div class="image image-facebook"></div>
        <p class="caption">hanahaus</p>
    </div>
    <div class="col-md-3 box">
        <div class="image image-yelp"></div>
        <p class="caption">Yelp</p>
    </div>
</div>
