<!-- Social media icons pardding left-right  -->
<div id="footer-socialmedia" class="row socialmedia footer-box">
    <div class="col-md-3 box">
        <a href="http://www.twitter.com/Hanahausbayarea"><div class="image image-twitter"></div></a>
        <p class="caption">@hanahausbayarea</p>
    </div>
    <div class="col-md-3 box">
        <a href="https://instagram.com/hanahausbayarea"><div class="image image-instagram"></div></a>
        <p class="caption">instagram</p>
    </div>
    <div class="col-md-3 box">
        <a href="https://www.facebook.com/hanahaus?_rdr"><div class="image image-facebook"></div></a>
        <p class="caption">hanahaus</p>
    </div>
    <div class="col-md-3 box">
        <a href="http://www.yelp.com/biz/hanahaus-palo-alto"><div class="image image-yelp"></div></a>
        <p class="caption">Yelp</p>
    </div>
</div>
