.intro {
    display: table;
    width: 100%;
    height: 100vh;
    text-align: center;
    color: $light;
    background-image:
        linear-gradient(
            rgba(0,0,0,0.7),
            rgba(0,0,0,0.7)
        ),
        url("http://fakeimg.pl/1280x800/?text=Some Image");
    background-image: no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    .intro-body {
        display: table-cell;
        vertical-align: middle;
        color: $primary;

        .logo {
            margin-bottom: 100px;
        }

        .categoryicon {
            margin-top: 25px;
        }

        .intro-text {
            font-size: 18px;
        }
    }
}