// here we will override bootstrap variables
// http://getbootstrap.com/customize/

$primary: #FFF7E6;
$primary-dark: #E9E7DE;
$footer: #F6F7F7;
$work: #ECD270;
$learn: #DD5A3E;
$play: #69CCE5;
$dark: #000;
$light: #fff;