// here we will override bootstrap variables
// http://getbootstrap.com/customize/

$primary: #FFF5E3;
$primary-dark: #E9E7DE;

$learn: #DD5A3E;
$play: #69CCE5;
$work: #ECD270;

$dark: #000;
$darkgray: #e2e2e1;
$lightgray: #f2f2f2;
$light: #fff;

$font-black: #000;
$font-dark: #231f20;
$font-gray: #3f3e3c;

$hamburger-size: 108px;
