// here we will override bootstrap variables
// http://getbootstrap.com/customize/

$primary: #FFF5E3;
$primary-dark: #E9E7DE;

$learn: #DD5A3E;
$play: #69CCE5;
$work: #ECD270;

$dark: #000;
$gray: #333;
$light: #fff;

$footer: #F6F7F7;
$footer-tabs: #F2F2F2;
