// import our own sass variables
@import "variables";

// import built-in vendor libs
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";

// import our own partials
// @import "example"

html, body {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    // TODO google web fonts HElvetica family ltcom "Helvetica Neue LT Com"
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight:100;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    padding: 50px 0 0;
    font-weight: 700;
    letter-spacing: 1px;
}

.work {
	color: $work;
}

.learn {
	color: $learn;
}

.play {
	color: $play;
}

.intro {
    display: table;
    width: 100%;
    height: 100vh;
    text-align: center;
    color: $light;
    background-image:
        linear-gradient(
            rgba(0,0,0,0.7),
            rgba(0,0,0,0.7)
        ),
        url("http://fakeimg.pl/1280x800/?text=Some Image");
    background-image: no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    .intro-body {
        display: table-cell;
        vertical-align: middle;
        color: $primary;

        .logo {
            margin-bottom: 100px;
        }

        .categoryicon {
            margin-top: 25px;
        }

        .intro-text {
            font-size: 18px;
        }
    }
}

.overview {
    height: 300px;
    color: $dark;
    background-color: $primary;

    text-align: center;
    h1 {
        text-transform: uppercase;
        font-size:64px;
        font-weight:100;
    }

    a {
        text-transform: uppercase;
        font-size: 35px;
        color: $dark;
    }
}

#work {
    a:hover {
        color: $work !important;
        text-decoration: none;
    }
}
#learn {
    a:hover {
        color: $learn !important;
        text-decoration: none;
    }
}
#play {
    a:hover {
        color: $play !important;
        text-decoration: none;
    }
}


#info {
    .navbar div {
        color: $dark;
        &:hover {
            cursor: pointer;
            color: $gray;
            text-decoration: none;
        }
    }

    .navlink {
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 20px;
        text-align: center;
        font-size: 35px;

        margin-bottom: 21px;
        &:hover {
            margin-bottom: 20px;
            border-bottom: 1px solid $dark;
        }
    }

    i {
        font-size: 25px;
    }

    // === Classes to extend
    .footertext {
        font-size: 20px;
        padding: 50px 20px;
    }

    .nofocus {
        outline: none;
        box-shadow: none;
    }

    .findus {
        background-color: $primary;
        .adress {
            font-size: 25px;
        }

        .parking, .phone {
            font-size: 20px;
        }

        .mapcontainer {
            position: relative;
            padding-bottom: 600px;
            height: 0;
            overflow: hidden;

            & embed {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }

    .about {
        @extend .footertext;
        /* background: url(<%= asset_path "club-bg.jpg" %>) no-repeat bottom center scroll; */
        background: url(http://fakeimg.pl/1600x1400/) no-repeat bottom center scroll;
        .abouttext {
            @extend .footertext;
        }
    }

    .partners {
        .infotext {
            @extend .footertext;
            background-color: $primary-dark;
        }

        .contactform {
            background-color: $primary;

            form div {
                margin: 0;
                padding: 0;
            }

            input[type="text"] {
                border: 1px solid $dark;
                border-radius: 0px;
                background-color: $primary;
                padding: 15px;
                margin: 0;

                &:focus {
                    @extend .nofocus;
                }
            }

            textarea {
                border: 1px solid $dark;
                border-radius: 0px;
                background-color: $primary;
                margin: 0;

                &:focus {
                    @extend .nofocus;
                }
            }

            /// TODO: EXAMPLE FOR CHECKBOX
            input[type="checkbox"] {
                // display:none;
            }

            input[type="checkbox"] + label {
                background: #999;
                height: 16px;
                width: 16px;
                display: inline-block;
                padding: 0 0 0 0px;
            }

            input[type="checkbox"]:checked + label {
                background: #0080FF;
                height: 16px;
                width: 16px;
                display:inline-block;
                padding: 0 0 0 0px;
            }
            /// TODO: END EXAMPLE FOR CHECKBOX

            button {
                border: 1px solid $dark;
                background-color: $primary;
                color: $dark;
                border-radius: 0px;
                padding: 10px 25px;
                font-size: 20px;
            }
        }
    }

    .socialmedia {
        height: 300px; // FIXME necessary? Otherwise footer floats up and down
        .box {
            text-align: center;

            &:hover .caption{
                display: block;
            }

            .caption {
                display: none;
                margin-top: 20px;
                text-align: center;
                font-size: 20px;
            }

            .image {
                width: 200px;
                height: 200px;
            }

            .image-twitter {
                background: url('https://raw.githubusercontent.com/HanaHaus/HanaHaus-ux/master/01_Website/Assets/01_Home%20Screen/Social_Twitter_Grey-01.png');
                &:hover {
                    background: url('https://raw.githubusercontent.com/HanaHaus/HanaHaus-ux/master/01_Website/Assets/01_Home%20Screen/Social_Twitter_Color-01.png');
                }
            }
            .image-instagram {
                background: url('https://raw.githubusercontent.com/HanaHaus/HanaHaus-ux/master/01_Website/Assets/01_Home%20Screen/Social_Insta_Grey-01.png');
                background-repeat: no-repeat;
                background-position: center;
                &:hover {
                    background: url('https://raw.githubusercontent.com/HanaHaus/HanaHaus-ux/master/01_Website/Assets/01_Home%20Screen/Social_Insta_Color-01.png');
                }
            }
            .image-facebook {
                background: url('https://raw.githubusercontent.com/HanaHaus/HanaHaus-ux/master/01_Website/Assets/01_Home%20Screen/Social_FB_Grey-01.png');
                &:hover {
                    background: url('https://raw.githubusercontent.com/HanaHaus/HanaHaus-ux/master/01_Website/Assets/01_Home%20Screen/Social_FB_Color-01.png');
                }
            }
            .image-yelp {
                background: url('https://raw.githubusercontent.com/HanaHaus/HanaHaus-ux/master/01_Website/Assets/01_Home%20Screen/Social_Yelp_Grey-01.png');
                &:hover {
                    background: url('https://raw.githubusercontent.com/HanaHaus/HanaHaus-ux/master/01_Website/Assets/01_Home%20Screen/Social_Yelp_Color-01.png');
                }
            }
        }
    }

    .footer {
        background-color: $footer;
        .footerlink {
            margin-top: 25px;
            margin-bottom: 25px;
            font-size: 15px;
            border-right: 1px solid $dark;
            text-align: center;

            &:last-child {
                border-right: none;
            }
        }
    }

    .copyright {
        bottom: 0px;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

.header {
    padding-bottom: 25px;

    .headerelement {
        padding-top: 25px;
        text-align: center;
    }

    h1 {
        text-transform: uppercase;
        padding-top: 0;
        font-size: 60px;
        font-weight: 100;
    }
}

.buttonstyle {
    font-size: 30px;
    border: none;
    padding: 10px 80px;
}

.learnpage {
    .event {
        border-top: 1px solid $dark;

        .eventlisting {
            .red {
                color: $learn;
            }
            .caption {
                font-size: 24px;
            }
            h1 {
                font-size: 30px;
                font-weight: 100;
            }
            .description {
                font-size: 18px;
            }
            .book {
                margin-top: 15px;

                .dateinfo {
                    font-size: 30px;
                }
                .time, .date {
                    @extend .red;
                }
                .day {
                    font-size: 18px;
                }
                button {
                    @extend .buttonstyle;
                    background-color: $learn;
                    color: white;
                }
            }
        }
    }
}

.workpage {
    .table {
        background-image: no-repeat center scroll;
        .tablelisting {
            width: 100%;
            // FIXME: This repeast a lot of style of the learnpage
            text-align: center;
            color: $light;

            h1 {
                font-size: 30px;
                font-weight: 100;
            }

            p {
                display: none;
                font-size: 20px;
                font-weight: 100;
            }

            &:hover p {
                display: block;
            }

            button {
                @extend .buttonstyle;
                background-color: $work;
                color: white;
            }
        }

        // FIXME: get the gradient to cover the entire picture
        .tablelisting:hover {
            color: $work;
            background-image:
            linear-gradient(
                rgba(0,0,0,0.7),
                rgba(0,0,0,0.7)
            )
        }
    }

}

#footer-about, #footer-partners, #footer-socialmedia, #footer-findus {
    display: none;
}
