// import our own sass variables
@import "variables";

// import built-in vendor libs
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";

// import our own partials
// @import "example"

// ====== Mixins
@import "buttonstyle";
@import "sameheight";

// ====== Extensions (classes to extend)
@import "extensions";

// ====== General styles
html, body {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    /* TODO google web fonts HElvetica family ltcom "Helvetica Neue LT Com" */
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight:100;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    padding: 50px 0 0;
    font-weight: 700;
    letter-spacing: 1px;
}

// ====== The three colors
.work {
	color: $work;
}

.learn {
	color: $learn;
}

.play {
	color: $play;
}

// ====== The intro area of the main page
@import "intro";

// ====== The overview area of the main page with the three areas work/learn/play
@import "overview";

// ====== The info area of the main page with the four areas findus/about/partners/social
@import "info";

// ===== general header for work/learn/play detail pages
@import "header.scss";

// ===== the learn detail page
@import "learnpage";

// ===== the work detail page
@import "workpage";

// ===== the play detail page
@import "playpage";

// ===== the hamburger menu
@import "hamburger";

#footer-about, #footer-partners, #footer-socialmedia, #footer-findus {
    display: none;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}
