<div class="row header">
    <div class="row">
        <div class="col-md-3 headerelement">
            <a href="index.html"><img src="https://raw.githubusercontent.com/HanaHaus/HanaHaus-ux/master/01_Website/Assets/00_Common%20Assets/Logo_Dark-01.png" /></a>
        </div>
        <div class="col-md-6 headerelement">
            <h1>{{include.title}}</h1>
            <p><img class="categoryicon" width="45px" src="{{ include.iconurl }}"/></p>
        </div>
        <div class="col-md-3 headerelement">
            <a href="index.html"><img src="https://raw.githubusercontent.com/HanaHaus/HanaHaus-ux/master/01_Website/Assets/00_Common%20Assets/Close_Btn-01.png" /></a>
        </div>
    </div>
</div>